body {
  background-color: azure;
  padding: 24px;
}

section {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.form {
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  width: 96%;
}

legend {
  font-weight: bold;
}

input[type='radio'] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #dee3e9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a3f5bc;
}
